.main {
    width: 98vw;
}

h1, .description {
    text-align: center;    
}

.form {
    margin: 0 auto;
    width: 50%;
}

.user-answer {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.answer-item {
    display: flex;
    flex-direction: row;
}

.button:hover {
    cursor: pointer;
}

input:valid {
    border: 3px solid green;
    /* outline: none; */
}

.errors {
    color: red;
    font-size: larger;
    font-style: bold;
}

.noErrors {
    color: green;
    font-style: bold;
    font-size: larger;
}

.hint {
    font-size: smaller;
    font-style: italic;
    color: #35350a;
}